:root {
  --hover-transition: opacity 0.25s ease-in-out;
  --lightGray: #c9d1d9;
  --font: JetBrainsMono;
  --darkpurple: #1f1f27;
  --darkerpurple: #849cd3;;
  --green: #9fb974;
  --darkgreen: #f2a56e;
  --lightblue: #8ab3c8;
  --lightyellow: #dbd7bd;
  --pink: #c78398;
}

@font-face {
  font-family: 'JetBrainsMono';
  font-weight: 400;
  font-style: normal;
  src: url('/static/public/fonts/JetBrainsMono-Regular.woff2') format('woff2'),
       url('/static/public/fonts/JetBrainsMono-Regular.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'JetBrainsMono';
  font-weight: 500; 
  font-style: normal;
  src: url('/static/public/fonts/JetBrainsMono-Medium.woff2') format('woff2'),
       url('/static/public/fonts/JetBrainsMono-Medium.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'JetBrainsMono';
  font-weight: 700; 
  font-style: normal;
  src: url('/static/public/fonts/JetBrainsMono-Bold.woff2') format('woff2'),
       url('/static/public/fonts/JetBrainsMono-Bold.ttf') format('ttf');
  font-display: swap;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--font);
  background-color: var(--darkpurple);
  color: black;
}

#site__container {
  width: 100%;
  top: 0;
  left: 0;
}

body>header {
  width: 100%;
  top: 0;
}

body>main {
  margin-top: 40px;
}

.page {
  width: 100%;
  min-height: 100%;
}

h2 {
  color: var(--green);
}

p {
  color: var(--lightyellow);
}

.link {
  color: var(--lightblue);
}

.link:hover {
  color: var(--darkerpurple);
}

.page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home__container,
#test__container,
#code__container,
#dev__container {
  max-width: 900px;
}

#home__container h2,
#dev__container h2 {
  text-align: center;
}

#home__container h3,
#dev__container h3 {
  color: var(--lightblue);
  font-weight: 400;
  margin-top: 1.5rem;
}

/* Nav & Footer */
header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1 {
  margin: 3rem 0 3rem 0;
  font-weight: 700;
  color: var(--darkgreen);
}

nav a {
  color: var(--lightblue);
  text-decoration: none;
  padding: 0.5rem;
  margin: 0 0.8rem
}

nav a:hover {
  color: var(--darkerpurple);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8rem auto 2rem auto;
}

footer p {
  color: var(--darkgreen);
}

/* Home page */
#home__container section {
  margin-bottom: 5rem;
}

#home__container p {
  line-height: 1.5;
}

#home__devicon-container {
  display: flex;
  justify-content: center;
  width: 900px;
  margin-top: 5rem;
}

#home__devicon-container img {
  width: 65px;
  margin: 0 3rem;
}

.home__code-block {
  width: 900px;
  background-color: #16161d;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
  color: white;
  border-radius: 10px;
}

h4 {
  font-weight: 400;
}

.code-purple {
  color: var(--darkerpurple);
}
.code-lightyellow {
  color: var(--lightyellow);
}
.code-green {
  color: var(--green);
}
.code-pink {
  color: var(--pink);
}

.code-indent {
  padding-left: 2rem;
}

/* Test page */
#page__test {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#test__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#test__terminal-section {
  width: 900px;
  margin-bottom: 2rem;
}

#test__terminal-container {
  border: 10px #16161d solid;
  border-radius: 5px;
}

#test__button-container {
  margin-top: 1rem;
  width: 900px;
  display: flex;
  justify-content: space-between;
}

#test__button-container button {
  width: 49%;
  height: 3rem;
  font-size: 16px;
  font-family: var(--font);
  font-weight: 400;
  cursor: pointer;
  background-color: var(--lightblue);
  color: var(--darkpurple);
  border: none;
  border-radius: 3px;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

#test__button-container button:hover {
  background-color: var(--darkerpurple);
}


#test__button-container button:active {
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  color: white;
}

#test__form-container p {
  font-weight: 500;
  margin: 1rem 0 0.5rem 0;
}

#test__form-container form {
  display: flex;
  flex-direction: column;
}

#test__form-container span {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

#test__form-container span label {
  padding-left: 0.5rem;
  padding-top: 0.2rem;
}

.test__types-label {
  cursor: pointer;
  color: var(--lightyellow);
}

/* Code page */
#code__display-container {
  display: flex;
  justify-content: center;
}

#code__display-container p {
  font-size: 16px;
  font-style: italic;
}

#code__file-display {
  border-radius: 5px;
  width: 780px;
  font-size: 14px;
  line-height: 1.4;
}

#code__file-tree {
  margin-top: 3.2rem;
  margin-right: 1.5rem;
  list-style: none;
  line-height: 1.5;
  font-size: 16px;
}

#code__file-tree ul {
  padding-inline-start: 27px;
}

.ft__dir {
  font-weight: bold;
  color: var(--darkerpurple);
}

.ft__files,
#ft__main-file {
  color: var(--lightyellow);
}

.ft__files li:hover,
#ft__main-file:hover {
  color: var(--green);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  cursor: pointer;
}

#code__github {
  margin-left: 2.5rem;
}

/* Dev page */
#dev__container img {
  width: 65px;
  margin: 0 3rem;
}

.dev__img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#dev__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#dev__header h2 {
  margin-bottom: 0.5rem;
}

/* HLJS custom theme */
:root {
  --selection: #253248;
  --background: #16161d;
  --text: var(--darkgreen);
  --string: var(--darkgreen);
  --number: var(--pink);
  --title: #8ab3c8;
  --variable: #d57077;
  --built_in: #82a6a0;
  --keyword: #8ab3c8;
  --function: #849bd5;
  --params: var(--lightblue);
  --comment: #72716a;
  --attr: var(--lightyellow);
  --class: #83a7a0;
}

pre code {
  display: block;
  overflow-x: auto;
  padding: 10px;
  background: var(--background);
  -webkit-text-size-adjust: none;
}

pre code *::selection,
.hljs::selection {
  background: var(--selection) !important;
}

.hljs {
  color: var(--text);
}

.hljs-string {
  color: var(--string);
}

.hljs-number {
  color: var(--number) !important;
}

.hljs-title {
  color: var(--title) !important;
}

.hljs-built_in {
  color: var(--built_in) !important;
}

.hljs-keyword {
  color: var(--keyword) !important;
}

.hljs-function > .hljs-keyword {
  color: var(--function) !important;
  font-style: italic;
}

.hljs-params {
  color: var(--params);
}

.hljs-comment {
  color: var(--comment);
}

.hljs-variable {
  color: var(--comment);
}

.function_ {
  color: var(--function) !important;
}

.hljs-attr {
  color: var(--attr) !important;
}

.class_ {
  color: var(--class) !important;
}
