:root {
  --hover-transition: opacity 0.25s ease-in-out;
  --lightGray: #c9d1d9;
  --font: 'Courier New', Courier, monospace;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--font);
  background: lightgray;
  color: black;
}

#site__container {
  width: 100%;
  top: 0;
  left: 0;
}

body>header {
  width: 100%;
  top: 0;
}

body>main {
  margin-top: 40px;
}

.page {
  width: 100%;
  min-height: 100%;
}

/* Nav & Footer */
header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

header h1 {
  margin: 3rem 0 3rem 0;
}

nav a {
  color: black;
  opacity: 0.8;
  text-decoration: none;
  padding: 0.5rem;
  margin: 0 0.5rem
}

nav a:hover {
  opacity: 1;
  transition: var(--hover-transition);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8rem auto 2rem auto;
}

.page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home__container,
#demo__container,
#code__container,
#dev__container {
  max-width: 1000px;
}

/* Home page */
#home__container section {
  margin-bottom: 5rem;
}

#home__container h2 {
  text-align: center;
}

#home__container p {
  line-height: 1.5;
}

/* Demo page */
#page__demo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#demo__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#demo__terminal-section {
  width: 790px;
  margin-bottom: 2rem;
}

#demo__terminal-container {
  border: 10px #0d1217 solid;
  border-radius: 5px;
}

#demo__button-container {
  margin-top: 1rem;
  width: 790px;
  display: flex;
  justify-content: space-between;
}

#demo__button-container button {
  width: 32%;
  height: 3rem;
  font-size: 16px;
  font-family: var(--font);
  font-weight: 400;
  cursor: pointer;
}

#demo__form-container {
  color: black;
}

#demo__form-container p {
  font-weight: 600;
  margin: 1rem 0 0.5rem 0;
}

#demo__form-container form {
  display: flex;
  flex-direction: column;
}

#demo__form-container span {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

#demo__form-container span label {
  padding-left: 0.5rem;
  padding-top: 0.2rem;
}

.demo__types-label {
  cursor: pointer;
}

/* Code page */
#code__display-container {
  display: flex;
  justify-content: center;
}

#code__display-container p {
  font-size: 16px;
  font-style: italic;
}

#code__file-display {
  border-radius: 5px;
  width: 780px;
  font-size: 14px;
  line-height: 1.4;
  border: 2px var(--lightGray) solid;
}

#code__file-tree {
  margin-top: 3.2rem;
  margin-right: 1.5rem;
  list-style: none;
  line-height: 1.4;
  font-size: 16px;
}

#code__file-tree ul {
  padding-inline-start: 30px;
}

.ft__dir {
  font-weight: bold;
}

.ft__files,
#ft__main-file {
  color: #c9d1d9;
}

.ft__files li:hover,
#ft__main-file:hover {
  color: #d2a8ff;
  transition: var(--hover-transition);
  cursor: pointer;
}

