:root {
  --hover-transition: opacity 0.25s ease-in-out;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background: black;
  color: white;
}

body>header {
  width: 100%;
  top: 0;
}

body>main {
  margin: auto;
  margin-top: 40px;
  max-width: 66vw;
}

/* Nav & Footer */
header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

header h1 {
  margin: 3rem 0 3rem 0;
}

nav a {
  color: white;
  opacity: 0.8;
  text-decoration: none;
  padding: 0.5rem;
  margin: 0 0.5rem
}

nav a:hover {
  opacity: 1;
  transition: var(--hover-transition);
}

.page {
  min-height: 100%;
  width: 100%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8rem auto 2rem auto;
}

/* Home page */
#page__home {
  overflow: hidden;
  height: 100vh;
}

#home__container section {
  margin-bottom: 5rem;
}

#home__container p {
  line-height: 1.5;
}

/* Demo page */
#page__demo {
  display: flex;
  justify-content: center;
}

#demo__container {
  width: 780px;
}

/* Code page */
#code__display-container {
  display: flex;
  justify-content: center;
}

#code__display-container p {
  font-size: 16px;
  font-style: italic;
}

#code__file-display {
  border-radius: 10px;
  width: 780px;
  font-size: 14px;
  line-height: 1.4;
}

#code__file-tree {
  margin-top: 3.2rem;
  margin-right: 1.5rem;
  list-style: none;
  line-height: 1.4;
  font-size: 16px;
}

#code__file-tree ul {
  padding-inline-start: 30px;
}

.ft__dir {
  font-weight: bold;
}

.ft__files,
#ft__main-file {
  color: #c9d1d9;
}

.ft__files li:hover,
#ft__main-file:hover {
  color: #d2a8ff;
  transition: var(--hover-transition);
  cursor: pointer;
}

